<p>Welcome to Meadowlark Travel! Please sign up to our newsletter using either:</p>
<ul>
    <li><a href="/newsletter-signup">Browser form submission (flash example)</a>.</li>
    <li><a href="/newsletter">Async form submission (recommended)</a>.</li>
</ul>
<h1>Welcome to Meadowlark Travel</h1>
<p>Questions? Checkout out our <a href="/about">About Us</a> page!</p>
<h2>Home</h2>
{{> weather}}
